In [134]:
PATH_HEADER = "MovieSummaries/"
CHARACTER = "character.metadata.tsv"
MOVIE = "movie.metadata.tsv"
PLOT_SUMMARIES = "plot_summaries.txt"
TVTROPES = "tvtropes.clusters.txt"

In [135]:
import pandas as pd
import json
import matplotlib.pyplot as plt
import seaborn as sns

In [136]:
pd.reset_option('display.max_rows')

# Data Wrangling

In [137]:
column_names = [
    "WikipediaID",
    "FreebaseID",
]
summaries = pd.read_csv(PATH_HEADER + PLOT_SUMMARIES, names=column_names, header=None, delimiter="\t")
# Adjust 'delimiter' according to your file's format
display(summaries)

       WikipediaID                                         FreebaseID
0         23890098  Shlykov, a hard-working taxi driver and Lyosha...
1         31186339  The nation of Panem consists of a wealthy Capi...
2         20663735  Poovalli Induchoodan  is sentenced for six yea...
3          2231378  The Lemon Drop Kid , a New York City swindler,...
4           595909  Seventh-day Adventist Church pastor Michael Ch...
...            ...                                                ...
42298     34808485  The story is about Reema , a young Muslim scho...
42299      1096473  In 1928 Hollywood, director Leo Andreyev  look...
42300     35102018  American Luthier focuses on Randy Parsons’ tra...
42301      8628195  Abdur Rehman Khan , a middle-aged dry fruit se...
42302      6040782  1940 - Operation Dynamo has just taken place. ...

[42303 rows x 2 columns]

In [138]:
file_path = PATH_HEADER + TVTROPES 
parsed_data = []
with open(file_path, 'r', encoding='utf-8') as file:
    for line in file:
        category, json_str = line.split('\t', 1)
        json_data = json.loads(json_str)   
        json_data['category'] = category  # Add the category to the dictionary
        parsed_data.append(json_data)   # Append the dictionary to the list of parsed data

# Create a DataFrame from the list of dictionaries
tvtropes = pd.DataFrame(parsed_data)

# Now df holds your data, and you can manipulate it as needed

In [139]:
display(tvtropes)

,char,movie,id,actor,category
0,Professor Philip Brainard,Flubber,/m/0jy9q0,Robin Williams,absent_minded_professor
1,Professor Keenbean,Richie Rich,/m/02vchl3,Michael McShane,absent_minded_professor
2,Dr. Reinhardt Lane,The Shadow,/m/0k6fkc,Ian McKellen,absent_minded_professor
3,Dr. Harold Medford,Them!,/m/0k6_br,Edmund Gwenn,absent_minded_professor
4,Daniel Jackson,Stargate,/m/0k3rhh,James Spader,absent_minded_professor
...,...,...,...,...,...
496,Morgan Earp,Tombstone,/m/0k776f,Bill Paxton,young_gun
497,Colorado Ryan,Rio Bravo,/m/0k2kqg,Ricky Nelson,young_gun
498,Tom Sawyer,The League of Extraordinary Gentlemen,/m/0k5nsh,Shane West,young_gun
499,William H. 'Billy the Kid' Bonney,Young Guns II,/m/03lrjk0,Emilio Estevez,young_gun
500,Jake,Silverado,/m/0k39jj,Kevin Costner,young_gun

In [140]:
column_names = [
    "WikipediaID",
    "FreebaseID",
    "date",
    "Character Name",
    "Actor DOB",
    "Actor Gender",
    "Actor Height",
    "Actor Ethnicity",
    "Actor Name",
    "Actor Age at Movie Release",
    "Freebase Character Map",
    "what",
    "wut"
]
characters = pd.read_csv(PATH_HEADER + CHARACTER, delimiter='\t', header=None, names=column_names)

In [141]:
display(characters)

,WikipediaID,FreebaseID,date,Character Name,Actor DOB,Actor Gender,Actor Height,Actor Ethnicity,Actor Name,Actor Age at Movie Release,Freebase Character Map,what,wut
0,975900,/m/03vyhn,2001-08-24,Akooshay,1958-08-26,F,1.620,NaN,Wanda De Jesus,42.0,/m/0bgchxw,/m/0bgcj3x,/m/03wcfv7
1,975900,/m/03vyhn,2001-08-24,Lieutenant Melanie Ballard,1974-08-15,F,1.780,/m/044038p,Natasha Henstridge,27.0,/m/0jys3m,/m/0bgchn4,/m/0346l4
2,975900,/m/03vyhn,2001-08-24,Desolation Williams,1969-06-15,M,1.727,/m/0x67,Ice Cube,32.0,/m/0jys3g,/m/0bgchn_,/m/01vw26l
3,975900,/m/03vyhn,2001-08-24,Sgt Jericho Butler,1967-09-12,M,1.750,NaN,Jason Statham,33.0,/m/02vchl6,/m/0bgchnq,/m/034hyc
4,975900,/m/03vyhn,2001-08-24,Bashira Kincaid,1977-09-25,F,1.650,NaN,Clea DuVall,23.0,/m/02vbb3r,/m/0bgchp9,/m/01y9xg
...,...,...,...,...,...,...,...,...,...,...,...,...,...
450664,913762,/m/03pcrp,1992-05-21,Elensh,1970-05,F,NaN,NaN,Dorothy Elias-Fahn,NaN,/m/0kr406c,/m/0kr406h,/m/0b_vcv
450665,913762,/m/03pcrp,1992-05-21,Hibiki,1965-04-12,M,NaN,NaN,Jonathan Fahn,27.0,/m/0kr405_,/m/0kr4090,/m/0bx7_j
450666,28308153,/m/0cp05t9,1957,NaN,1941-11-18,M,1.730,/m/02w7gg,David Hemmings,15.0,/m/0g8ngmc,NaN,/m/022g44
450667,28308153,/m/0cp05t9,1957,NaN,NaN,NaN,NaN,NaN,Roberta Paterson,NaN,/m/0g8ngmj,NaN,/m/0g8ngmm
450668,28308153,/m/0cp05t9,1957,NaN,NaN,NaN,NaN,NaN,John Rogers,NaN,/m/0g8ngmw,NaN,/m/0btz19d

In [142]:
column_names = [
    "wikipediaID",
    "freebaseID",
    "name",
    "date",
    "revenue",
    "runtime",
    "languages",
    "countries",
    "genres"
]
movies = pd.read_csv(PATH_HEADER + MOVIE, sep='\t', names=column_names, header=None)
display(movies)

,wikipediaID,freebaseID,name,date,revenue,runtime,languages,countries,genres
0,975900,/m/03vyhn,Ghosts of Mars,2001-08-24,14010832.0,98.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}","{""/m/01jfsb"": ""Thriller"", ""/m/06n90"": ""Science..."
1,3196793,/m/08yl5d,Getting Away with Murder: The JonBenét Ramsey ...,2000-02-16,NaN,95.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}","{""/m/02n4kr"": ""Mystery"", ""/m/03bxz7"": ""Biograp..."
2,28463795,/m/0crgdbh,Brun bitter,1988,NaN,83.0,"{""/m/05f_3"": ""Norwegian Language""}","{""/m/05b4w"": ""Norway""}","{""/m/0lsxr"": ""Crime Fiction"", ""/m/07s9rl0"": ""D..."
3,9363483,/m/0285_cd,White Of The Eye,1987,NaN,110.0,"{""/m/02h40lc"": ""English Language""}","{""/m/07ssc"": ""United Kingdom""}","{""/m/01jfsb"": ""Thriller"", ""/m/0glj9q"": ""Erotic..."
4,261236,/m/01mrr1,A Woman in Flames,1983,NaN,106.0,"{""/m/04306rv"": ""German Language""}","{""/m/0345h"": ""Germany""}","{""/m/07s9rl0"": ""Drama""}"
...,...,...,...,...,...,...,...,...,...
81736,35228177,/m/0j7hxnt,Mermaids: The Body Found,2011-03-19,NaN,120.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}","{""/m/07s9rl0"": ""Drama""}"
81737,34980460,/m/0g4pl34,Knuckle,2011-01-21,NaN,96.0,"{""/m/02h40lc"": ""English Language""}","{""/m/03rt9"": ""Ireland"", ""/m/07ssc"": ""United Ki...","{""/m/03bxz7"": ""Biographical film"", ""/m/07s9rl0..."
81738,9971909,/m/02pygw1,Another Nice Mess,1972-09-22,NaN,66.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}","{""/m/06nbt"": ""Satire"", ""/m/01z4y"": ""Comedy""}"
81739,913762,/m/03pcrp,The Super Dimension Fortress Macross II: Lover...,1992-05-21,NaN,150.0,"{""/m/03_9r"": ""Japanese Language""}","{""/m/03_3d"": ""Japan""}","{""/m/06n90"": ""Science Fiction"", ""/m/0gw5n2f"": ..."
81740,12476867,/m/02w7zz8,Spliced,2002,NaN,86.0,"{""/m/02h40lc"": ""English Language""}","{""/m/0d060g"": ""Canada""}","{""/m/01jfsb"": ""Thriller"", ""/m/03npn"": ""Horror""..."

In [143]:
parse_json = lambda s: json.loads(s)

In [144]:
movies["genres"] = movies["genres"].apply(parse_json)

In [145]:
movies["genres_dict"] = movies["genres"].copy()

In [146]:
movies["genres"] = movies["genres"].apply(lambda d: list(d.values()) if isinstance(d, dict) else d)

In [147]:
movies["genres"]

0        [Thriller, Science Fiction, Horror, Adventure,...
1         [Mystery, Biographical film, Drama, Crime Drama]
2                                   [Crime Fiction, Drama]
3        [Thriller, Erotic thriller, Psychological thri...
4                                                  [Drama]
                               ...
81736                                              [Drama]
81737              [Biographical film, Drama, Documentary]
81738                                     [Satire, Comedy]
81739    [Science Fiction, Japanese Movies, Adventure, ...
81740                    [Thriller, Horror, Slasher, Teen]
Name: genres, Length: 81741, dtype: object

movies["genres"]

In [148]:
# Initialize an empty Counter object to accumulate counts
from collections import Counter
total_counts = Counter()
# Iterate over each element in the Series and update the Counter with values
movies["genres"].apply(lambda x: total_counts.update(x))
print(total_counts['Drama'])

34007

In [149]:
print(total_counts['Horror'])

5280

In [150]:
most_common = []
for genre, count in total_counts.most_common(30):
    most_common.append(genre)

In [151]:
print(most_common)

['Drama', 'Comedy', 'Romance Film', 'Black-and-white', 'Action', 'Thriller', 'Short Film', 'World cinema', 'Crime Fiction', 'Indie', 'Documentary', 'Horror', 'Silent film', 'Adventure', 'Family Film', 'Action/Adventure', 'Comedy film', 'Musical', 'Animation', 'Romantic drama', 'Mystery', 'Science Fiction', 'Fantasy', 'Romantic comedy', 'War film', 'Japanese Movies', 'Western', 'Crime Thriller', 'Period piece', 'Comedy-drama']

In [152]:
display(movies)

,wikipediaID,freebaseID,name,date,revenue,runtime,languages,countries,genres,genres_dict
0,975900,/m/03vyhn,Ghosts of Mars,2001-08-24,14010832.0,98.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}","[Thriller, Science Fiction, Horror, Adventure,...","{'/m/01jfsb': 'Thriller', '/m/06n90': 'Science..."
1,3196793,/m/08yl5d,Getting Away with Murder: The JonBenét Ramsey ...,2000-02-16,NaN,95.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}","[Mystery, Biographical film, Drama, Crime Drama]","{'/m/02n4kr': 'Mystery', '/m/03bxz7': 'Biograp..."
2,28463795,/m/0crgdbh,Brun bitter,1988,NaN,83.0,"{""/m/05f_3"": ""Norwegian Language""}","{""/m/05b4w"": ""Norway""}","[Crime Fiction, Drama]","{'/m/0lsxr': 'Crime Fiction', '/m/07s9rl0': 'D..."
3,9363483,/m/0285_cd,White Of The Eye,1987,NaN,110.0,"{""/m/02h40lc"": ""English Language""}","{""/m/07ssc"": ""United Kingdom""}","[Thriller, Erotic thriller, Psychological thri...","{'/m/01jfsb': 'Thriller', '/m/0glj9q': 'Erotic..."
4,261236,/m/01mrr1,A Woman in Flames,1983,NaN,106.0,"{""/m/04306rv"": ""German Language""}","{""/m/0345h"": ""Germany""}",[Drama],{'/m/07s9rl0': 'Drama'}
...,...,...,...,...,...,...,...,...,...,...
81736,35228177,/m/0j7hxnt,Mermaids: The Body Found,2011-03-19,NaN,120.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}",[Drama],{'/m/07s9rl0': 'Drama'}
81737,34980460,/m/0g4pl34,Knuckle,2011-01-21,NaN,96.0,"{""/m/02h40lc"": ""English Language""}","{""/m/03rt9"": ""Ireland"", ""/m/07ssc"": ""United Ki...","[Biographical film, Drama, Documentary]","{'/m/03bxz7': 'Biographical film', '/m/07s9rl0..."
81738,9971909,/m/02pygw1,Another Nice Mess,1972-09-22,NaN,66.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}","[Satire, Comedy]","{'/m/06nbt': 'Satire', '/m/01z4y': 'Comedy'}"
81739,913762,/m/03pcrp,The Super Dimension Fortress Macross II: Lover...,1992-05-21,NaN,150.0,"{""/m/03_9r"": ""Japanese Language""}","{""/m/03_3d"": ""Japan""}","[Science Fiction, Japanese Movies, Adventure, ...","{'/m/06n90': 'Science Fiction', '/m/0gw5n2f': ..."
81740,12476867,/m/02w7zz8,Spliced,2002,NaN,86.0,"{""/m/02h40lc"": ""English Language""}","{""/m/0d060g"": ""Canada""}","[Thriller, Horror, Slasher, Teen]","{'/m/01jfsb': 'Thriller', '/m/03npn': 'Horror'..."

# Date conversion

In [153]:
dates_copy = movies['date'].copy()
movies['date'] = pd.to_datetime(movies['date'], errors='coerce')

In [154]:

# Attempt to convert the 'date' column to datetime objects
movies['date'] = pd.to_datetime(dates_copy.copy(), errors='coerce', format='%Y-%m-%d')

# For entries where the conversion failed (which should be the ones with only the year), convert using just the year
movies.loc[movies['date'].isna(), 'date'] = pd.to_datetime(dates_copy.copy()[movies['date'].isna()], errors='coerce', format='%Y')

# Extract the year from the datetime objects
movies['year'] = movies['date'].dt.year

In [155]:
print(movies['date'])

0       2001-08-24
1       2000-02-16
2       1988-01-01
3       1987-01-01
4       1983-01-01
           ...
81736   2011-03-19
81737   2011-01-21
81738   1972-09-22
81739   1992-05-21
81740   2002-01-01
Name: date, Length: 81741, dtype: datetime64[ns]

# Trailblazers of Cinematic Genres

## first movie of each most popular genre


The inaugural films of any genre typically forge a path for future narratives, setting the stage with innovative themes, styles, or storytelling techniques. These films often stand as quintessential "pivot movies"—landmarks that inspire and influence the evolution of their respective genres. Bel(after the code)ow, we present a list of the pioneering films that represent the genesis of the thirty most celebrated genres in cinema history:

In [156]:
movies['date'] = pd.to_datetime(movies['date'], errors='coerce')

# List of 30 most common genres
most_common_genres = most_common

# Initialize an empty list to store the earliest movies for each genre
earliest_movies_list = []

for genre in most_common_genres:
    # Filter for movies that include the genre and are not missing a date
    genre_movies = movies[movies['genres'].apply(lambda genres: genre in genres) & movies['date'].notnull()]
    
    # Find the earliest movie for the genre
    if not genre_movies.empty:
        earliest_movie_idx = genre_movies['date'].idxmin()
        earliest_movie = genre_movies.loc[earliest_movie_idx, ['name', 'date', 'genres']]
        # Append the earliest movie details to the list
        earliest_movies_list.append(earliest_movie)

# Convert the list of Series to a DataFrame
earliest_movies_per_genre = pd.DataFrame(earliest_movies_list)

# Reset the index of the resulting DataFrame
earliest_movies_per_genre.reset_index(drop=True, inplace=True)

# Now 'earliest_movies_per_genre' contains the earliest movie for each of the 30 genres
# with only the 'name', 'date', and 'genres' columns
for i in range(len(most_common)):
    print(   most_common[i] + ": \n" + str(earliest_movies_per_genre[['name', 'date', 'genres']].iloc[i] ))

Drama:
name      Divers At Work on the Wreck of The Maine
date                           1898-01-01 00:00:00
genres            [Short Film, Silent film, Drama]
Name: 0, dtype: object
Comedy:
name                             L'Arroseur Arrosé
date                           1895-01-01 00:00:00
genres    [Short Film, Silent film, Indie, Comedy]
Name: 1, dtype: object
Romance Film:
name                               The Kiss
date                    1896-01-01 00:00:00
genres    [Short Film, Romance Film, Indie]
Name: 2, dtype: object
Black-and-white:
name                                  Roundhay Garden Scene
date                                    1888-01-01 00:00:00
genres    [Short Film, Silent film, Indie, Black-and-white]
Name: 3, dtype: object
Action:
name      The Bandit's Waterloo
date        1908-08-04 00:00:00
genres     [Short Film, Action]
Name: 4, dtype: object
Thriller:
name      The Drover's Sweetheart
date          1911-01-01 00:00:00
genres          [Thriller, Drama]
Name: 5, dtype: object
Short Film:
name                                  Roundhay Garden Scene
date                                    1888-01-01 00:00:00
genres    [Short Film, Silent film, Indie, Black-and-white]
Name: 6, dtype: object
World cinema:
name                                  The Student of Prague
date                                    1913-08-22 00:00:00
genres    [Silent film, Horror, Indie, World cinema, Fan...
Name: 7, dtype: object
Crime Fiction:
name                                             Barbe-bleu
date                                    1901-01-01 00:00:00
genres    [Crime Fiction, Silent film, Horror, Indie, Bl...
Name: 8, dtype: object
Indie:
name                                  Roundhay Garden Scene
date                                    1888-01-01 00:00:00
genres    [Short Film, Silent film, Indie, Black-and-white]
Name: 9, dtype: object
Documentary:
name                                      Fred Ott's Sneeze
date                                    1894-01-01 00:00:00
genres    [Short Film, Silent film, Indie, Black-and-whi...
Name: 10, dtype: object
Horror:
name                                    Le Manoir du diable
date                                    1896-12-24 00:00:00
genres    [Short Film, Silent film, Horror, Indie, Black...
Name: 11, dtype: object
Silent film:
name                                  Roundhay Garden Scene
date                                    1888-01-01 00:00:00
genres    [Short Film, Silent film, Indie, Black-and-white]
Name: 12, dtype: object
Adventure:
name                                 The Pillar of Fire
date                                1899-01-01 00:00:00
genres    [Short Film, Silent film, Fantasy, Adventure]
Name: 13, dtype: object
Family Film:
name                                       La Fée aux Choux
date                                    1896-01-01 00:00:00
genres    [Silent film, Indie, Black-and-white, Short Fi...
Name: 14, dtype: object
Action/Adventure:
name                                   Martyrs of the Alamo
date                                    1915-11-21 00:00:00
genres    [Silent film, Historical fiction, Black-and-wh...
Name: 15, dtype: object
Comedy film:
name                            A Terrible Night
date                         1896-01-01 00:00:00
genres    [Short Film, Silent film, Comedy film]
Name: 16, dtype: object
Musical:
name                                          Otello
date                             1906-10-30 00:00:00
genres    [Short Film, Romance Film, Drama, Musical]
Name: 17, dtype: object
Animation:
name                                      Un bon bock
date                              1892-10-28 00:00:00
genres    [Short Film, Silent film, Indie, Animation]
Name: 18, dtype: object
Romantic drama:
name                       Les Amours de la reine Élisabeth
date                                    1912-07-12 00:00:00
genres    [Silent film, Melodrama, Historical fiction, S...
Name: 19, dtype: object
Mystery:
name                   On the Broad Stairway
date                     1913-07-19 00:00:00
genres    [Short Film, Mystery, Silent film]
Name: 20, dtype: object
Science Fiction:
name                                     A Trip to the Moon
date                                    1902-09-01 00:00:00
genres    [Science Fiction, Indie, Silent film, Black-an...
Name: 21, dtype: object
Fantasy:
name                                       La Fée aux Choux
date                                    1896-01-01 00:00:00
genres    [Silent film, Indie, Black-and-white, Short Fi...
Name: 22, dtype: object
Romantic comedy:
name                                     Choosing a Husband
date                                    1909-12-30 00:00:00
genres    [Short Film, Romantic comedy, Silent film, Dra...
Name: 23, dtype: object
War film:
name                    La Prise de Tournavos
date                      1897-01-01 00:00:00
genres    [Short Film, Silent film, War film]
Name: 24, dtype: object
Japanese Movies:
name                             Kosuzume Toge
date                       1923-11-13 00:00:00
genres    [Short Film, Drama, Japanese Movies]
Name: 25, dtype: object
Western:
name                                          Buffalo Dance
date                                    1894-01-01 00:00:00
genres    [Silent film, Indie, Black-and-white, Short Fi...
Name: 26, dtype: object
Crime Thriller:
name                                             After Five
date                                    1915-01-28 00:00:00
genres    [Thriller, Crime Fiction, Silent film, Indie, ...
Name: 27, dtype: object
Period piece:
name                             Abraham Lincoln's Clemency
date                                    1910-01-01 00:00:00
genres    [Silent film, Melodrama, Indie, Black-and-whit...
Name: 28, dtype: object
Comedy-drama:
name                              A Blowout at Santa Banana
date                                    1914-01-26 00:00:00
genres    [Silent film, Indie, Comedy-drama, Black-and-w...
Name: 29, dtype: object

# Trope Originators

Enclosed is a curated selection of seminal films, each marking the inaugural appearance of a particular trope. These films are esteemed as pivotal within the cinematic world, as they present audiences with the archetype of a character type for the very first time, setting the stage for countless others to follow.

In [157]:
tvtropes["name"] = tvtropes["movie"]

tvtropes_with_dates = pd.merge(tvtropes, movies[["name","date"]], on='name', how='left')

In [158]:
# Exclude rows where 'date' is NaT (not a time) or missing
tvtropes_copy = tvtropes.copy() 
tvtropes_with_dates_copy = tvtropes_with_dates.copy()
tvtropes = tvtropes_with_dates
tvtropes = tvtropes.dropna(subset=['date'])

# Continue with the rest of the process as before
tvtropes_sorted = tvtropes.sort_values(by=['category', 'date'])
first_movies_per_category = tvtropes_sorted.drop_duplicates(subset='category', keep='first')
pd.set_option('display.max_rows', None)
display(first_movies_per_category[['category', 'name', 'date']])
pd.reset_option('display.max_rows')

,category,name,date
2,absent_minded_professor,The Shadow,1940-01-05
13,adventurer_archaeologist,The Mummy,1932-12-22
14,arrogant_kungfu_guy,Enter the Dragon,1973-07-26
33,big_man_on_campus,Can't Hardly Wait,1998-06-12
42,bounty_hunter,The Bounty Hunter,1954-01-01
48,brainless_beauty,Fool's Gold,1919-05-26
73,broken_bird,Alice in Wonderland,1915-01-19
85,bromantic_foil,Mallrats,1995-10-20
91,bruiser_with_a_soft_center,Casino Royale,1954-01-01
94,bully,A Christmas Story,1983-11-18
115,byronic_hero,Iron Man,1931-04-30
122,casanova,Casanova,1918-01-01
138,chanteuse,Some Like It Hot,1939-01-01
142,charmer,Casino Royale,1954-01-01
154,child_prodigy,Real Genius,1985-08-07
156,classy_cat_burglar,To Catch a Thief,1936-01-01
159,consummate_professional,The Bourne Identity,1988-01-01
183,corrupt_corporate_executive,Edge of Darkness,1943-01-01
191,coward,The Mummy,1932-12-22
219,crazy_jealous_guy,Scarface,1932-01-01
239,crazy_survivalist,Red,2002-01-01
243,cultured_badass,Casino Royale,1954-01-01
256,dean_bitterman,The Nutty Professor,1963-01-01
262,dirty_cop,Touch of Evil,1958-04-23
269,ditz,Arthur,1981-07-17
275,doormat,Back to the Future,1985-07-03
281,drill_sargeant_nasty,Stripes,1981-06-26
285,dumb_blonde,Dinner at Eight,1933-08-29
297,dumb_muscle,"It's a Mad, Mad, Mad, Mad World",1963-11-07
304,eccentric_mentor,Star Wars Episode V: The Empire Strikes Back,1980-05-21
308,egomaniac_hunter,Beauty and the Beast,1983-11-11
329,evil_prince,Sheena,1984-08-17
336,fastest_gun_in_the_west,3:10 to Yuma,1957-08-07
340,father_to_his_men,She Wore a Yellow Ribbon,1949-01-01
361,final_girl,Halloween,1978-10-25
365,gadgeteer_genius,Iron Man,1931-04-30
374,gentleman_thief,To Catch a Thief,1936-01-01
387,granola_person,Hocus Pocus,1993-07-16
398,grumpy_old_man,Network,1976-11-14
400,hardboiled_detective,The Maltese Falcon,1931-05-28
414,heartbroken_badass,The Outlaw Josey Wales,1976-06-30
421,henpecked_husband,"What's Up, Doc?",1950-01-01
436,hitman_with_a_heart,Wanted,1967-03-22
447,jerk_jock,Beauty and the Beast,1983-11-11
461,junkie_prophet,Minority Report,2002-06-17
464,klutz,Little Shop of Horrors,1986-12-19
470,loser_protagonist,High Fidelity,2000-03-17
476,loveable_rogue,The Thief of Bagdad,1924-01-01
487,master_swordsman,Star Wars Episode V: The Empire Strikes Back,1980-05-21
521,morally_bankrupt_banker,It's a Wonderful Life,1946-12-20
525,officer_and_a_gentleman,Glory,1956-01-01
535,ophelia,The Cabinet of Dr. Caligari,1920-02-26
536,playful_hacker,Tron,1982-07-09
545,prima_donna,All About Eve,1950-01-01
557,psycho_for_hire,Arsenic and Old Lace,1944-09-23
568,pupil_turned_to_evil,The Hunted,1995-02-24
573,retired_outlaw,Butch Cassidy and the Sundance Kid,1969-09-23
579,revenge,For a Few Dollars More,1965-12-18
587,romantic_runnerup,Reality Bites,1994-02-18
589,self_made_man,The Philadelphia Story,1940-12-23
601,slacker,Stripes,1981-06-26
607,stoner,Fast Times at Ridgemont High,1982-08-13
621,storyteller,Peter Pan,1924-01-01
628,stupid_crooks,Fargo,1996-03-08
638,surfer_dude,Apocalypse Now,1979-05-10
639,the_chief,The Pink Panther,1963-12-19
644,the_editor,His Girl Friday,1940-01-11
646,tranquil_fury,The Crow,1919-09-15
656,trickster,Star Wars Episode V: The Empire Strikes Back,1980-05-21
661,valley_girl,Valley Girl,1983-04-29
688,warrior_poet,Lawrence of Arabia,1962-12-10
692,young_gun,Rio Bravo,1959-03-18